/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
p, ul{
	
    font-family: 'Raleway', sans-serif;
    line-height: 190%;
    color: #999;
}
ul{
   
}
a
{	text-decoration: none;
}
h1{
	font-size: 34px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
    color: #444;
}
h2{
	font-size: 24px;
	font-weight: 300;
	text-align: center;
    color: #999;
}
h3, .section1 h2{
    color: #555;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;

}
header{
    margin: 25px 0;
    float: left;
    width: 100%;
    /* display: block; */
    /* clear: both; */

}
.logo {
    float: left;
}

.logo img{
border-radius: 80px;
    width: 50px;
    float: left;
}
.logo p{
    float: left;
    margin: 14px 0 0 15px;
    font-weight: 700;
}

nav{
    float: right;
    margin: 15px 0 0 0;

}
nav ul li{
	display: inline;
	text-transform: uppercase;
    margin: 0 20px 0 0;
    font-size:13px;

}
nav ul li:last-child{
    margin: 0;
}
nav a{
    color:#c5c6c8;
	font-weight:700;
}
nav a:hover{
	color: #333;
}
.active{
color: #333;

}
section{
	width: 100%;
    float: left;
}
section h1{
	text-align: center;
}

.container{
	width: 95%;
	max-width: 1080px;
	margin: 0 auto;
}
.cont-puntos{
    margin: 0 0 35px 0;
}
.int-puntos{
    width: 100%;
    position: absolute;
    text-align: center;
}
.int-puntos span{
    font-size: 18px;
    /* width: 10px; */
    margin-left: 4px;
    color: #3399ff;
}
}
.clear{
	clear: both;
}
.banner{
	background: url(../img/slide1.jpg) no-repeat top center;
	background-size: cover;
	height: 500px;
}
.banner .info-slide{
	width: 100%;
    max-width: 350px;
    margin: 200px 0 0 0;
}
.banner .info-slide h1, .banner .info-slide p{
    text-align: left;
    color: #fff;
}
.banner .info-slide p{
    font-size: 16px;
}
.info-slide h1, .info-slide h2, .info-slide p{
    color: #fff;
}

.banner .info-slide h1{
	margin: 0 0 20px 0;
	font-size:40px;
}
.buscador{
    width: 100%;
    float: left;
    margin: -35px 0 0 0;
}

.buscador form{
    width: 50%;
	margin: 0 auto;
}
.buscador form .form-group{
    display: flex;
}
.buscador input[type="search"], .buscador  input[type="submit"]{
font-family: 'Raleway', sans-serif;
	border: none;

}
.buscador input[type="search"]{
    width: 80%;
    height: 60px;
    padding: 0 0 0 25px;
    color: #d4d5d6;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.09);
-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.09);
box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.09);
}
.buscador  input[type="submit"], a.link-precio {
    background: #00adf1;
    color: #fff; 
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);  
}
.buscador  input[type="submit"]{
    height: 63px;
    padding: 0px 20px;
    border: none;
    /*margin: 0 0 0-5px;*/
}
/*Section 1*/
.section1{

}
.section1{
	text-align: center;
	
}
.section1 .container{
    display:flex;

}
.section1 h2{
    margin: 28px 0 18px 0;
}
.section1 article{
    /*width: 190px; quito el ancho para que "flex-start funcione"*/
    margin: 100px 0;
    /*justify-content: flex-start;*/
}
.section1 article img, .section2 article img{
	 border-radius: 80px;
}
.section1 h2{


}
/*animaciones iconos*/

/*0%{transform: scale(1)}
100%{transform:scale(1.25)}
}*/
/*.iconos{
-webkit-transition: 1.3s ease-in-out;
    -moz-transition: 1.3s ease-in-out;
    -o-transition: 1.3s ease-in-out;
    transition: 1.3s ease-in-out;
}
.iconos:hover{
-webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}*/

@keyframes iconos{

0% {transform: scale(1);}
100% {transform:scale(1.25);}

}
.iconos{
/*-webkit-transition: 1.3s ease-in-out;
    -moz-transition: 1.3s ease-in-out;
    -o-transition: 1.3s ease-in-out;
    transition: 1.3s ease-in-out;*/
}
.iconos:hover{
 animation-name:iconos;
 animation-duration: 2s;
 animation-timing-function: ease-in-out;
 animation-fill-mode: forwards;
 animation-delay: 0s;
/*-webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);*/
}
/*Section 2*/
.section2 h1, .section3 h1{


}
.section2{
	
	background-size: cover;
	/*height: 500px;*/
}
.section2 .info-slide{
	/*margin:200px 0 0 0;*/
}
.section2 .cont-columnas{
    display: flex;
    margin: 60px 0 0 0;
    position: relative;
    z-index: 2;

}
.cont-columnas article{
    margin: 0 0 0 0;
    display: flex;
}
.col-izquierda article{
    margin: 0 45px 25px 0;

}
.col-izquierda article .cont-img{
    order:2;
}
.col-izquierda article .cont-info{
order:1;
}
.cont-columnas .col-izquierda{
 
}

.col-izquierda .cont-info{
    padding: 0 20px 0 0;
    text-align: right;
}

.col-derecha  article{
    margin: 0 0 25px 0;
    
}
.col-derecha .cont-info{
    padding: 0 0 0 20px;
    
}
.cont-columnas .cont-info, .cont-columnas .cont-img{
    /*display: table-cell;
    vertical-align: middle;*/
}
.cont-columnas .cont-info h3{
    margin: 25px 0 15px 0;
}
.col-izquierda, .col-iphone, .col-derecha{
  /*flex-grow: 1;*/
}
.col-izquierda{
    /*text-align: right;*/
}
.col-derecha{
   /* text-align: left;*/
}
.col-iphone{
    max-width: 265px;
    width: 100%;
    height: 520px;
    background: url(../img/iphone.png) top center;
    background-size: cover;
    min-width: 265px;
    margin: 0 45px 0 0;
}

/*Section 3*/
.section3{
    background: url(../img/slide2.png) no-repeat top center;
    background-size: cover;
    margin: -60px 0 0 0;
    padding: 150px 0;
}
/*Section 4*/
.section4{
text-align: center;
 margin: -40px 0 0 0;
	
}
.section4 .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.section4 article{
    flex-grow: 1;
    margin: 0 5px 10px 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.28);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.28);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.28);
    padding: 30px 28px 38px;
    text-align: center;
    /*width: 160px;*/
}
/*.section4 article:last-child{
    margin: 0;
}*/
.precio{
	font-size: 20px;
    margin: 8px 0 15px 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    color: #000;
}
.precio b{
    font-size: 40px;
    margin: 7px 0 0 0;
}
.titulo-precio{
	border-bottom:1px solid #999;
    color: #333;
    margin: 0 auto;
    padding: 80px 0 38px 0;
}
.titulo-precio h3{
    font-size: 14px;
}
/*table{
	margin: 15px 0;
    width: 100%;
}*/
.section4 ul{
margin: 25px 0;

}
.section4 ul li{
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0 25px;
    text-align: left;
}
.section4 article ul li span{
    font-family: 'Open Sans', sans-serif;
     float: right;
}
.section4 article:first-child ul li span{
    color: #b2e8f3;}
.section4 article:nth-child(2) ul li span{
    color: #f7db67;}
.section4 article:nth-child(3) ul li span{
    color: #f6bd97;}
.section4 article:nth-child(4) ul li span{
    color: #f09689;}

a.link-precio {
    color: #fff;
    padding: 12px 0;
    border-radius: 3px;
    display: block;
}
a.link-precio :hover{
	background: #555;	
}
/*Section 5*/
.section5{
    background: #243141;
    padding: 90px 0;
    margin: 90px 0 0 0;
}
.section5 h1{
    color: #fff;
    font-weight: 300;
}
.section5 b{
	color:#3399ff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
/*Footer*/
footer{
	background: #151e27;
    clear: both;
    padding: 40px 0;
}
.copyright{
    float: left;
    color: #6c727b;
}
footer ul{
    float: right;
}
footer ul li{
	display: inline;
    margin: 0 20px 0 0;   
}
footer ul li:last-child{
    margin: 0;
}
footer a{
    color: #6c727b;
}
footer ul a:hover{
color: #fff;

 }
.footer-bottom{
    background: #eee;
    height: 50px;	
}

/*Media*/

@media screen and (max-width: 990px){
/*Section 1*/
.section1 .container{
    justify-content: center;
    flex-flow: row wrap;
}
.section1 article{
    margin: 20px  10px;
}
/*Section 2*/
.section2{
    margin: 50px 0 0 0;
}
.col-izquierda article .cont-img{
    order:1;
}
.col-izquierda .cont-info{
    padding: 0 0 0 20px;
    text-align: left;  
}
.col-iphone{
    display: none;}
/*Section 3*/
.section3{
    margin: 50px 0 0 0;  
}
}
@media screen and (max-width: 768px){
/*buscador*/
.buscador form{
    width: 100%;
}
.buscador form .form-group{
    max-width: 400px;
    margin: 0 auto;
}

.section2 .cont-columnas{
    display: block;
}
.section4 article{
    margin: 0 0 30px 0;

}
.section4 .container{
flex-direction: column;

}
footer p, footer ul{
    width: 100%;
    text-align: center; 
}
}